@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

.highlight {
    color: $dark-primary;
    font-weight: bold;
}

.services {
    padding: 20px 35px 30px;
    background: $white;
    border-style: dashed;
    border-color: $accent;
    -webkit-box-shadow: 5px 5px 18px $dark-grey;
            box-shadow: 5px 5px 18px $dark-grey;

    cursor: pointer;
    &-wrap {
        padding: 60px 0;
        background: #f2f2f2;
    }

    &-list {
        margin-top: 40px; 
    }
    
}
