@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

.highlight {
    color: $dark-primary;
    font-weight: bold;
}

.services {
    padding: 20px 35px 30px;
    background: $white;
    // border: 2px solid $grey;
    border-style: dashed;
    border-color: $accent;
    box-shadow: 5px 5px 18px $dark-grey;

    &-wrap {
        padding: 60px 0;
        background: #f2f2f2;
    }

    &__title {
        color: $dark-primary;
    }



    &-lists {
        margin-top: 40px;

        &__item {
            margin: 20px 0;

            &-title {
                // display: flex;
                // align-items: center;
                font-weight: bold;
                vertical-align: top;
                margin-top: 7px;
                display: inline-block;
                // margin-top: -10px;
            }
        }
        
        
    }

    &-sublist {
         list-style-type: none;

        &__item{
            font-size: 18px;
            margin: 10px 0;

            &:before {
                content: " ";
                display: inline-block;
                background: $accent;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                margin: 0 5px;
                border: 5px solid $primary;
            }
        }
    }
    
}

input[type="checkbox"]  {
    & + label {
        display: inline-block;
        margin: 0 4px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        background: url('../../../assets/img/plus.png')center center no-repeat;
        background-color: $dark-primary;
        background-size: 15px 15px;
        cursor: pointer;
    }

    & ~ .services-sublist {
        display: none;
    }


}


input[type="checkbox"]:checked {
    + label {
        background: url('../../../assets/img/minus.png')center center no-repeat;
        background-color: $dark-primary;
        background-size: 15px 15px;
    }

    & ~ .services-sublist {
        display: block;
    } 
}



input[type="button"]{
    outline:none;
 }
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }