<div class="slider">
  <input type="radio" name="image-slider" class="slider__checkbox" id="first-image" hidden checked>
  <input type="radio" name="image-slider" class="slider__checkbox" id="second-image" hidden>
  <input type="radio" name="image-slider" class="slider__checkbox" id="third-image" hidden>
  <input type="radio" name="image-slider" class="slide__checkbox" id="fourth-image" hidden>
  
  <div class="slider__dots">
      <label class="slider__dot" for="first-image"></label>
      <label class="slider__dot" for="second-image"></label>
      <label class="slider__dot" for="third-image"></label>
      <label class="slider__dot" for="fourth-image"></label>
  </div>
  
  <div class="slider__image"></div>
</div>
