<div class="container">
  <div class="slider">
      <input type="radio" name="image-slider" class="slider__checkbox" id="first-image" hidden checked>
      <input type="radio" name="image-slider" class="slider__checkbox" id="second-image" hidden>
      <input type="radio" name="image-slider" class="slider__checkbox" id="third-image" hidden>
      <input type="radio" name="image-slider" class="slide__checkbox" id="fourth-image" hidden>
      
      <div class="slider__dots">
          <label class="slider__dot"
            *ngFor="let dot of images; let ind = index" 
            [ngClass]="ind==currentImgInd? 'highlight': ''"
            (click)="updateImage(ind)"></label>
      </div>

      <div class="slider__image" 
        [ngStyle]="{'background':'url(/assets/img/slider_' + currentImgInd + '.jpg) center no-repeat', 
        'background-size': '100% 510px',
        'transition': '.9s'}"
      ></div>

      <input type="button" value="<" class="slider__btn slider__btn_prev" (click)="prevImage()">
      <input type="button" value=">" class="slider__btn slider__btn_next" (click)="nextImage()">

    </div>
</div>

