<footer class="footer-wrap">
  <div class="container">
    <div class="footer">
      <div class="footer-row">
        <p class="contact-info">Site was created by company <span class="yellow">CompanyName</span></p>
        <div>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-facebook contact-icon contact-icon__fb"></i>
          </a>
          <a href="https://web.telegram.org" target="_blank">
            <i class="fa fa-telegram contact-icon contact-icon__telegram"></i>
          </a>
        </div>
      </div>
      <p class="footer__text">© 2019 All Rights Reserved</p>
    </div>
  </div>
</footer>
