<div class="country" *ngIf="!!countryInfo">
  <div class="country__image" 

  [ngStyle]="{'background':'url(/assets/img/'+ countryInfo.img + '.jpg)', 'background-size': '400px 250px'}"
  >
  </div>
  <div class="country__info">
    <div class="country__title">
        <img src="/assets/img/globus.png" alt="globus" class="country__title-img">
        <h3>{{countryInfo.name}}</h3>
    </div>
    <p class="country__fact" *ngFor="let fact of countryInfo.facts">
      <span class="country__fact-title">{{ fact.title }}:</span> 
      {{ fact.info }}
    </p>
  </div>
</div>
