<div class="country">
  <div class="country__image">
    
  </div>
  <div class="country__info">
    <div class="country__title">
        <img src="/assets/img/globus.png" alt="globus" class="country__title-img">
        <h3>Austria</h3>
    </div>
    <p class="country__fact"><span class="country__fact-title">Capital of the State:</span> Vienna (1 540 000 people)</p>
    <p class="country__fact"><span class="country__fact-title">Geography:</span> The country is located in Central Europe</p>
    <p class="country__fact"><span class="country__fact-title">Official language:</span> German</p>
    <p class="country__fact"><span class="country__fact-title">National currency:</span> Euro</p>
    <p class="country__fact"><span class="country__fact-title">Climate:</span> temperate continental. In the coldest 
    month of the winter, the temperature drops to -2 C. 
    During the hottest July and August in the summer, 
    it rises to +20 C.</p>
  </div>
</div>
