<div class="search">
  <input type="text" 
    class="search__input" 
    [(ngModel)]="inputedValue" 
    (ngModelChange)="changedInput()"
    (focusout)="focusOut()"
    required>
  <div class="list-wrap" > 
    <div class="list" *ngIf="filteredList.length > 0">
      <div class="list__item" 
        *ngFor="let item of filteredList"
        (mousedown)="itemClicked(item)">
        {{ item }}
      </div>
    </div>
    <div *ngIf="filteredList.length == 0" class="list__no-elements">
      No such {{ valuesTitle }}
    </div>
  </div>
</div>
