@import '../../../global-styles/variables.scss';


.search {
    width: 155px;
    position: relative;
    
    &__input {
        width: 150px;
        font-size: 14px;
        padding-left: 5px;

        &:focus {
            & + .list-wrap {
                display: block;
            }
        }
       
    }
}

.list {
    // width: 100%;

    &-wrap {
        width: 155px;
        height: 100px;
        border-radius: 7px;
        border: 2px solid $dark-grey;
        background: $white;
        z-index: 10000;
        overflow-y: scroll;
        position: absolute;
        left: 0;
        display: none;
    }

    &__item {
        padding: 5px 0 5px 7px;
        font-size: 14px;
        text-align: start;
        cursor: pointer;

        &:hover {
            background: $light-orange;
        }
    }
}
