<section class="about-wrap">
  <div class="container">
    <div class="about-card">
        <h2> About us</h2>
        <div>
          <p>
            The network of travel agencies “Voyage travel” proves daily:
            the opportunity to travel is not a dream, a hopeful and unattainable, 
            but a wonderful reality, where everyone has the right to choose which 
            country to be happy for today!
          </p>
          <p>
            We are a member of the Ukrainian Association of Hotel Agencies
            and the Association of Leaders of Ukrainian Hotels Industry.
          </p>
        </div>
    </div> 
  </div>
</section>
