@import "../global-styles/variables.scss";

.menu-section {
    margin: 20px 0;
    background: $primary;
    color: $black;
    display: flex;
    align-items: center;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 18px;
    color: $white;

    &-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &__logo {
        height: 110px;
        width: 110px;
        position: absolute;
        left: 0;
    }

    &__item {
        padding: 12px 0;
        cursor: pointer;

        &:hover {
            color: $accent;
        }
    }
}

.menu-checkbox:checked + label {
    color: $accent;
}

.menu__tourists {
    &:hover {
        .tourists__sublist{
            display: block;
            color: $white;
            background: $dark-primary;
            margin-top: 10px;
            z-index: 100;
        } 
    } 

     & label:after {
        // icon down
        content: "\f0d7";
        font-family: FontAwesome;
        font-weight: 900;
        color: $white;
        padding: 25px 10px 10px;
    }
}

.tourists__sublist{ 
    display: none;
    position: absolute;

    .menu__item {
        padding: 10px 20px;

        &:hover {
            background: $strong-dark-green;
        }
    }
}

// #tourists {
    // & + label:after {
    //     // icon down
    //     content: "\f0d7";
    //     font-family: FontAwesome;
    //     font-weight: 900;
    //     color: $white;
    //     padding: 25px 10px 10px;
    // }

    // & + label:hover {
    //     &:after {
    //         // icon up
    //         content: "\f0de";
    //         font-family: FontAwesome;
    //         font-weight: 900;
    //         color: $white;
    //         padding: 25px 10px 10px;
    //     } 
    // }
// }

.fa-user {
    color: $white;
    padding: 5px 8px;
    border: 2px solid $dark-primary;
    border-radius: 5px;

    &:hover {
        color: $accent;
        background: $dark-primary;
    }

    #login:checked + label & {
        color: $accent;
        background: $dark-primary;
    }
}


