@import "../global-styles/variables.scss";

.menu-section {
    margin: 20px 0;
    background: $primary;
    color: $black;
    display: flex;
    align-items: center;
    height: 70px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 16px;
    color: $white;

    &-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &__logo {
        height: 110px;
        width: 110px;
        position: absolute;
        left: 0;
        cursor: pointer;
    }

    &__item {
        padding: 12px 0;
        cursor: pointer;

        &:hover {
            color: $light-orange;
        }
    }

    &__item-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
            content: "|";
            padding: 0 30px;
        }
    }
}

.menu-checkbox:checked + label {
    color: $accent;
}

.menu__sublist {
    &:hover {
        .sublist{
            display: block;
            z-index: 100;
        } 
    } 

     & label:after {
        // icon down
        content: "\f0d7";
        font-family: FontAwesome;
        font-weight: 900;
        color: $white;
        padding: 25px 10px 10px;
    }
}

.sublist{ 
    display: none;
    position: absolute;
    margin-top: 55px;
    color: $white;
    background: $dark-primary;
    z-index: 10;

    .menu__item {
        padding: 10px 20px;

        & label:after {
            content: none;
        }
    }
}

.fa-user {
    color: $white;
    padding: 5px 8px;
    border: 2px solid $dark-primary;
    border-radius: 5px;

    &:hover {
        color: $light-orange;
        background: $dark-primary;
    }

    #login:checked + label & {
        color: $accent;
        background: $dark-primary;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: block;
        width: 100%;

        &-section {
            height: auto;
        }

        &-row {
            display: block;
            text-align: center;
            padding: 10px 0;
        }

        &__item-wrap {
            display: block;
            text-align: center;
            margin: 20px 0;

            &:after {
                content: "";
                display: none;
            }
        }

        &__logo { 
            position: static;
        }

        
    }

    .sublist {
        position: static;
        margin-top: 0;
    }
}