<section class="menu-section">
  <div class="container">
    <div class="menu-row">
        <img src="../../assets/img/logo.png" alt="logo image" class="menu__logo">
        <ul class="menu">
          <li class="menu__item"><a href="#">Main</a></li>
          <li class="menu__item"><a href="#">About us</a></li>
          <li class="menu__item"><a href="#">For tourist</a></li>
          <li class="menu__item"><a href="#">Contacts</a></li>
          <li><a href="#"><i class="fa fa-user"></i></a></li>
        </ul>
    </div>  
  </div>
</section>

