<div class="hotels-wrap">
  <div class="container">
    <div class="hotels">
      <!-- start search block -->
      <div class="hotels__search">
        <h2>Input search parametres</h2>
        <form class="hotels__search-row">
          <div>
            <label for="city">City</label>
            <input type="text" id="city" required>
          </div>
          <div>
            <label for="date">Date</label>
            <input type="text" id="date" required>
          </div>
          <div>
            <label for="days">Days</label>
            <input type="text" class="days" required>
          </div>
          <div>
            <button class="hotels__search-btn" type="submit">Search</button>
          </div>
        </form>
      </div>
      <!-- EOF search block -->
      <!-- start hotels cards -->
      <div class="hotels__list" *ngIf="!!hotelsBaseInfo">
        <hotel-card *ngFor="let hotel of hotelsBaseInfo.hotels" 
          [hotel]="hotel"
          (showHotelDetail)="showHotelDetail($event)"></hotel-card>
      </div>
      <!-- EOF hotels cards -->
      <!-- start pagination -->
      <div class="hotels__pagination">
          <button
            class="hotels__number-btn"
            (click)="updateHotels()">
           </button>
      </div>
      <!-- EOF pagination -->
    </div>
  </div>
</div>