@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

input[type="text"] {
    font-size: 16px;
    padding: 10px 4px;
    border-radius: 7px;
    border: 2px solid $dark-grey;
    outline: none;
}

input:focus {
    border: 2px solid $accent;
}

button {
    outline: none;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    // color: $dark-primary;
}

.hotels {
    padding: 20px 10px 40px;
    // margin: 40px 0;
    background: #ffffff;
    box-shadow: 5px 5px 18px $dark-grey;
    // box-shadow: 5px 5px 18px #999999;

    &-wrap {
        background: $light-grey;
        padding: 40px 0;
    }

    &__search {
        padding: 5px 0 0px;
        padding: 30px 0;
        border: 2px dashed #ffc107;
        // background: #ffffff;

        
        &-row {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin: 10px;
            
            // border-color: ;
            // background: #f2f2f2;

            & div {
                text-align: center;
            }
        }

        &-btn {
            width: 200px;
            height: 44px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            border-radius: 7px;
            color: $white;
            background: $accent;
            box-shadow: 2px 2px 5px $dark-grey;
            cursor: pointer;

            &:before {
                padding: 0 6px;
                content: "\f002";
                font-family: FontAwesome;
                font-size: 18px;
                font-weight: 900;
                color: $white;
            }

            &:hover {
                background: $dark-orange;
            }
        }

        // &-col {
        //     text-align: center;
        // }
    }

    &__list {
        padding: 30px 0 30px;
        // margin: auto;
        
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__number-btn {
        width: 40px;
        height: 35px;
        border: none;
        border-radius: 10px;
        background: white;
        border: 2px solid black;
        cursor: pointer;
    }

    &__description {
        display: block;
    }


    
}

.popup-info {
    &__map {
        width: 50%;

        &-wrap{
            margin: 10px -40px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            background: #f2f2f2;
        }
    }


}

.short-info {
    display: flex;
    margin: 0 -40px;

    &__image {
        width: 50%;
        height: 300px;;
    }

    &__right {
        width: 50%;
        padding: 0 10px;
        // background: $light-grey;
        background: url('../../../assets/img/hotel-background.jpg');
    }

    &__price {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    &__main {
        margin: 10px -10px;
        padding: 15px 10px;
        background: $white;
        color: $primary;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__radio {
        display: none;

        & + label {
            padding: 5px;
            cursor: pointer;
            // color: $black;
        }

        &:checked {
            & + label {
                background: $white;
            }
        }
    }
}

.subtitle {
    margin: 0;
    margin: 8px;
    color: $dark-primary;
    font-weight: bold;

    span {
        color: $black;
    }
}

.row {
    margin: 20px 0;
}

.disabled {
    color: $dark-grey;

    &-message {
        width: 100px;
        margin: 5px 0 0;
        background: white;
        text-align: center;
        padding: 5px 3px;
        position: absolute;
        display: none;
        border-radius: 0 5px 0 5px;
        color: red;
        // display: none;
    }
    &:hover {
        & + .disabled-message {
            display: block;
        }
    }
}

.photos {
    margin: 0 -40px;
    padding: 15px 40px;


    &__image {
        max-width: 400px;
        height: 200px;
        cursor: pointer;
    }
    
}

.add-info {
    padding: 10px 0 15px;
}


.images-row {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    // justify-content: space-around;
}

.center {
    text-align: center;
}