<div class="hotels-wrap">
  <div class="container">
    <div class="hotels">
      <!-- start search block -->
      <div class="hotels__search">
        <h2>Input search parametres</h2>
        <form class="hotels__search-row">
          <div>
            <label for="city">City</label>
            <input type="text" id="city" required>
          </div>
          <div>
            <label for="date">Date</label>
            <input type="text" id="date" required>
          </div>
          <div>
            <label for="days">Days</label>
            <input type="text" class="days" required>
          </div>
          <div>
            <button class="hotels__search-btn" type="submit">Search</button>
          </div>
        </form>
      </div>
      <!-- EOF search block -->
      <!-- start hotels cards -->
      <div class="hotels__list" *ngIf="!!hotelsBaseInfo">
        <hotel-card *ngFor="let hotel of hotelsBaseInfo.hotels" 
          [hotel]="hotel"
          (showHotelDetail)="showHotelDetail($event)"></hotel-card>
      </div>
      <!-- EOF hotels cards -->
      <!-- start pagination -->
      <div class="hotels__pagination">
          <button
            class="hotels__number-btn"
            (click)="updateHotels()">
           </button>
      </div>
      <!-- EOF pagination -->
    </div>
  </div>
</div>

<!-- popup -->
<form-popup
  
  [header]="currentHotelInfo.title + ' ' + currentHotelInfo.stars"
  [buttonCancel]="'Cancel'"
  [buttonAction]="'Order'"
  (onClose)="closeHotelPopup()">

  <div class="content">
    <div class="popup-info">
      <!-- short info row -->
      <div class="short-info">
        <img [src]="'../../../assets/img/' + currentHotelInfo.mainImg + '.jpg'" 
          class="short-info__image"
          alt="hotel image">
        <div class="short-info__right">
          <p class="short-info__price">Total price: {{ currentHotelInfo.price.basePrice * currentHotelInfo.days }} $</p>
          <!-- room types  -->
          <div class="row">
            <p class="subtitle">Room type</p>
            <div class="short-info__items">
              <div class="short-info__item" *ngFor="let room of currentHotelInfo.rooms; let ind = index">
                <input type="radio" name="room" 
                id="room_{{ind}}" 
                class="short-info__radio" 
                [disabled]="room.availableRooms == 0"
                hidden>
                <label for="room_{{ind}}" 
                  [ngClass]="room.availableRooms == 0? 'disabled' : ''">{{room.type}}</label>
                <div *ngIf="room.availableRooms == 0" class="disabled-message">No available places in such type</div>
              </div>
            </div>
          </div>
          <!-- EOF rooms -->
          <!-- dish type -->
          <div>
            <p class="subtitle">Dish type</p>
            <div class="short-info__items">
              <div class="short-info__item" *ngFor="let type of currentHotelInfo.nutritionTypes; let ind = index">
                <input type="radio" name="dish" id="dish_{{ind}}" class="short-info__radio" hidden>
                <label for="dish_{{ind}}">{{type}}</label>
              </div>
            </div>
          </div>
          <!-- EOF dish type -->
        </div>
      </div>
      <!-- EOF short info row -->

      <!-- additional info -->
      <div class="add-info">
        <p class="subtitle">More info about hotel:</p>
        <div class="images-row">
          <img *ngFor="let image of currentHotelInfo.images"
          [src]="'../../../assets/img/' + image + '.jpg'"
          class="add-info__image"
          alt="rooms">
        </div>
      </div>

      <div>
        
      </div>


      <!-- EOF additional info -->

      <div class="popup-info__map-wrap">
        <div class="popup-info__map">
          <google-map
            [lng]="currentHotelInfo.coordLng"
            [lat]="currentHotelInfo.coordLat"
            [title]="currentHotelInfo.title">
          </google-map>
        </div>
      </div>
    </div>
  </div>
</form-popup>
<!-- EOF popup -->