@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

.days {
    width: 100px;
}

.hotels {
    padding: 20px 10px 40px;
    background: #ffffff;
    box-shadow: 5px 5px 18px $dark-grey;

    &-wrap {
        background: $light-grey;
        padding: 40px 0;
    }

    &__search {
        padding: 5px 0 0px;
        padding: 30px 0 20px;
        border: 2px dashed #ffc107;

        &-row {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin: 25px 10px 15px;
            
            & div {
                text-align: center;
            }
        }

        &-btn {
            width: 200px;
            height: 44px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            border-radius: 7px;
            color: $white;
            background: $accent;
            box-shadow: 2px 2px 5px $dark-grey;
            cursor: pointer;

            &:before {
                padding: 0 6px;
                content: "\f002";
                font-family: FontAwesome;
                font-size: 18px;
                font-weight: 900;
                color: $white;
            }

            &:hover {
                background: $dark-orange;
            }
        }
    }

    &__list {
        padding: 0 0 30px;
    }

    &__no-hotels {
        margin: 10px 0 40px;
        padding: 40px 10px;
        border: 2px solid $primary;
        font-weight: bold;
        text-align: center;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__number-btn {
        & + label {
            margin: 0 7px;
            text-align: center;
            line-height: 35px;
            vertical-align: center;
            width: 40px;
            height: 35px;
            border: none;
            border-radius: 10px;
            color: $black;
            background: white;
            border: 1px solid $primary;
            cursor: pointer;
        }

        &:checked {
            & + label {
                color: $white;
                background: $primary;
            }
        }
    }

    &__element-pages {
        // padding-right: 40px;
        text-align: right;
        font-weight: bold;

        & select {
            margin-top: 10px;
        }
    }

    &__add-search {
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-end;
        // margin: 25px 10px 15px;

        // &-col {
            // width: 50%;
            text-align: center;
        // }
    } 

    &__sort {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0 0;

        label {
            display: inline-block;
            width: 40px;
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            background: $light-grey;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="radio"]:checked {
            + label {
                background: $accent;
            }
        }
    }

    &__update-view {
        display: flex;
        justify-content: space-between;
        padding: 10px 40px;
    }

    &__filter-btn {
        margin: 20px 0;
        border: none;
        font-weight: bold;
        text-decoration: underline;
        background: $white;
        cursor: pointer;
    }

    &__filter{
            &-stars {
                width: 40%;
                display: flex;
                justify-content: space-around;
            // align-items: center;
            }

            &-roomtype {
                width: 30%;
                display: flex;
                justify-content: flex-start;
                align-items: baseline;

                & label {
                    margin-right: 10px;
                }
            }

    }

    &__filter-row {
        padding: 0 10px;
        text-align: center;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }
    
}

.popup-info {
    &__map {
        width: 100%;

        &-wrap{
            margin: 10px -40px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            background: #f2f2f2;
        }
    }
}

.short-info {
    display: flex;
    margin: 0 -40px;

    &__image {
        width: 50%;
        height: 300px;;
    }

    &__right {
        width: 50%;
        padding: 0 10px;
        background: url('../../../assets/img/hotel-background.jpg');
    }

    &__price {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    &__main {
        margin: 10px -10px;
        padding: 15px 10px;
        background: $white;
        color: $primary;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__radio {
        display: none;

        & + label {
            padding: 5px;
            cursor: pointer;
        }

        &:checked {
            & + label {
                background: $white;
            }
        }
    }
}

.subtitle {
    margin: 0;
    margin: 8px;
    color: $dark-primary;
    font-weight: bold;

    span {
        color: $black;
    }
}

.row {
    margin: 20px 0;
}

.disabled {
    color: $dark-grey;

    &-message {
        width: 100px;
        margin: 5px 0 0;
        background: white;
        text-align: center;
        padding: 5px 3px;
        position: absolute;
        display: none;
        border-radius: 0 5px 0 5px;
        color: red;
    }

    &:hover {
        & + .disabled-message {
            display: block;
        }
    }
}

.photos {
    margin: 0 -40px;
    padding: 15px 40px;

    &__image {
        max-width: 400px;
        height: 200px;
        cursor: pointer;
    }
    
}

.add-info {
    padding: 10px 0 15px;
}

.images-row {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.center {
    text-align: center;
}

.icon {
    margin:0 5px;
} 

.stars {
    & + label{
        cursor: pointer;

        &:before {
            font-family: FontAwesome;
            content: '\f005';
            color: $grey;
        }
    }


    &:checked{
        & + label:before {
            color: $accent;
        }
    }
}

@media screen and (max-width: 840px) {
    .hotels{
        
        &__search {
            &-row {
                display: block;
                margin: auto;
            }

            &-btn {
                margin: 10px 0;
            }

            &-tips {
                display: flex;
                justify-content: center;
            }
    
        }

        &__row {
            display: block;
        }

        &__filter{
            &-stars {
                margin: auto;
            }

            &-roomtype {
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 700px) { 
    .photos {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) { 
    .short-info {
        display: block;

        &__image {
            width: 100%;
        }

        &__right {
            width: 100%;
            padding: 5px 0 15px;
        }
    }
}

@media screen and (max-width: 450px) { 
    .hotels {
        &__update-view {
            display: block;
        }

        &__element-pages {
            margin-top: 20px;
        }  
    }

    .photos {
        padding: 0;
    }


}