@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

.countries {
    padding: 60px 10px;
    background: $white;
    -webkit-box-shadow: 5px 5px 18px $dark-grey;
            box-shadow: 5px 5px 18px $dark-grey;

    &-wrap {
        padding: 20px 0;
        background: $light-grey;
    }

    &-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        
        // justify-content: space-around;
        // align-items: center;
        // margin: 40px 0;
    }

    
}


