<div class="hotel">
  <div class="hotel-image"
    [ngStyle]="{'background':'url(../../../assets/img/hotel_' + hotel.id + '.jpg)', 
    'background-size': '400px 300px'}">

  </div>
  <div class="hotel-info">
    <div class="mark">
      <label class="mark__price">{{ hotel.minPricePerDay * hotel.days }}$</label>
    </div>
    <h3>{{ hotel.title }} {{hotel.stars}}</h3>
    <div class="hotel-row">
        <img src="../../../assets/img/location.png" alt="bed" class="hotel-info__icon">
        <p> 
          <span class="bold"> 
          {{ hotel.country }}, {{ hotel.city }} 
        </span>
      </p>
    </div>
    <div class="hotel-row">
        <img src="../../../assets/img/advant.png" alt="bed" class="hotel-info__icon">
        <p>Rate:
          <span class="bold"> 
          {{ hotel.rate }} 
        </span>
      </p>
    </div>
    <div class="hotel-row">
        <img src="../../../assets/img/bed.png" alt="bed" class="hotel-info__icon">
        <p>Room:
          <span class="bold" *ngFor="let room of hotel.rooms"> 
          {{ room.type }} 
        </span>
      </p>
    </div>
    <div class="hotel-row">
        <img src="../../../assets/img/food.png" alt="bed" class="hotel-info__icon">
        <p>Nutrition:
          <span class="bold" *ngFor="let nutrition of hotel.nutritionTypes"> 
            {{ nutrition }} 
          </span>
        </p>
    </div>
    <div class="hotel-row">
        <img src="../../../assets/img/calendar.png" alt="bed" class="hotel-info__icon">
        <p>{{ hotel.days }} days</p>
    </div>
    <div  class="hotel-info__btn">
      <btn-primary 
        [name]="'More detail...'"
        (onClick)="loadHotelDetail(hotel.id)"></btn-primary>
    </div>
  </div>
</div>