<div class="hotel">
  <div class="hotel-image"
    [ngStyle]="{'background':'url(../../../assets/img/hotel_' + hotel.id + '.jpg)', 
    'background-size': '400px 300px'}">

  </div>
  <div class="hotel-info">
    <div class="mark">
      <!-- <img src="../../assets/img/bookmark.png" alt="mark" class="mark__img"> -->
      <label class="mark__price">800$</label>
    </div>
    <h3>{{ hotel.title }}</h3>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/bed.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>Room:<span class="bold"> {{hotel.roomType}} </span></p>
      <!-- </div>  -->
    </div>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/food.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>Nutrition:<span class="bold"> {{hotel.nutrition}} </span></p>
      <!-- </div>  -->
    </div>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/calendar.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>7 days</p>
      <!-- </div>  -->
    </div>
    <div  class="hotel-info__btn">
      <btn-primary 
        [name]="'More detail...'"
        (click)="loadHotelDetail(hotel.id)"></btn-primary>
    </div>
  </div>
</div>
