<div class="hotel">
  <div class="hotel-image">

  </div>
  <div class="hotel-info">
    <h3>Naama Bay Resort</h3>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/bed.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>Room:<span class="bold"> Standart </span></p>
      <!-- </div>  -->
    </div>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/food.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>Nutrition:<span class="bold"> AI </span></p>
      <!-- </div>  -->
    </div>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/plane.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>Flight:<span class="bold"> Included </span></p>
      <!-- </div>  -->
    </div>
    <div class="hotel-row">
      <!-- <div class="hotel-info__icon"> -->
        <img src="../../../assets/img/calendar.png" alt="bed" class="hotel-info__icon">
      <!-- </div>   -->
      <!-- <div class="hotel-info__message"> -->
        <p>7 days</p>
      <!-- </div>  -->
    </div>
  </div>
</div>
