@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

.questions {
    padding: 30px 0;
    display: flex;
    align-items: center;
    height: 500px;

    &-wrap {
        margin: auto;
        margin-top: -20px;
        width: 100%;
        min-height: 500px;
        background: url('../../../assets/img/luggage.jpg')center center;
        background-size: auto 700px;

    }
    
    &-card {
        padding: 20px 60px 30px;
        width: 100%;
        height: 400px;
        background: rgba($color: $white, $alpha: 0.7);
        border-style: dashed;
        border-color: $accent;
        overflow-y: scroll;
        overflow-x: hidden;

        &__list {
            margin-top: 30px;
        }
    }
}


@media screen and (max-width: 768px) {
    .questions { 
        &-card {
            padding: 20px 20px 30px;
        }
    }
     
}

