@import '../../global-styles/variables.scss';

h2 {
    color: $strong-dark-green;
}

.contacts {
    &-wrap {
        padding: 15px 0;
    }

    &__card {
        width: 100%;
        -webkit-box-shadow: 5px 5px 18px $dark-grey;
        box-shadow: 5px 5px 18px $dark-grey;
    }
}