/*Colors*/
$white: #ffffff;
$black: #000000;

$green: #00796b;
$dark-green: #01695d;
$strong-dark-green: #014d44;
$orange: #ffc107;

$light-grey: #f7f7f7;
$grey: #d4cccc;
$dark-grey: #999999;

$primary: $green;
$dark-primary: $dark-green;
$accent: $orange;